@import url('https://fonts.googleapis.com/css2?family=Fredoka&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   font-family: 'Fredoka', sans-serif;;
   color: white;
}
.container{
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.3),transparent),url(background.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
   }

   .navigation{
    display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px 20px;
   }
h1{
    width: 50px;
    cursor: pointer;
    font-size: 1.5em;
    font-family: cursive;

}
.cartimg{
    width: 25px;
    cursor: pointer;
    margin-right: 10px;
}
.navigation ul{
    flex:1;
    text-align: right;
    padding: 10px 15px;
}
.navigation ul li{
    display: inline-block;
    list-style: none;
    margin: 20px 20px;
}
.navigation ul li a{
    color: #fff;
    text-decoration: none;
    position: relative;
}
.navigation ul li a::after{
    content: '';
    width: 0;
    height: 1.5px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    background: #fff;
    transition: width 0.3s;

}
.navigation ul li a:hover::after{
    width: 50%;
}
.textbox{
    color: #fff;
    padding: 0 20px;
    position: absolute;
    bottom: 20%;
}
.textbox p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: 400px;
}
.textbox h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100px;
    line-height: 100px;
    margin-left: -10px;
    
    color: transparent;
    -webkit-text-stroke: 1px #fff;
    background: url(back.png);
    width: 100%;
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: back 20s linear infinite;
}
@keyframes back{
    100%{
        background-position: 2000px 0;
    }
}

.textbox h3{
    font-size: 20px;
    font-weight: 300px;
}
.button {
    position: absolute;
      bottom:8%;
    padding: 0 20px;
   
}
.button button{
    color: #fff;
    background: transparent;
    border: 2px solid #fff;
    padding: 5px;
    cursor: pointer;
}
.button button:hover{
    background-color: #fff;
    color: black;
    border: 2px solid black;
}
.social-icon{
    position: absolute;
    width: 8px;
    right: 5%;
    bottom: 8%;
}
.social-icon img{
    width:35px;
    padding: 5px;

}